$pink: #fb5ccf;
$pink-light: #f4dede;
$purple-light: #ae83cf;
$purple: #664582;
$purple-dark: #1d1f62;
$scarlet: #f4726d;
$chocolate: #6b3a25;
$chocolate-light: #84523a;
$cherry: #f7433c;
$cherry-light: #fb706b;
$black: #020010;
$white: #fdfaf0;
$red: #ea7672;
$red_velvet: #b42f2b;
$orange: #eb833e;
$yellow: #ffcf40;
$green: #54d127;
$teal: #50b8b6;
$blue: #8897cf;