$large-stars-size: 400px;
$large-stars-timing: 40s;
$medium-stars-size: 300px;
$medium-stars-timing: 30s;
$small-stars-size: 200px;
$small-stars-timing: 20s;

* {
  font-family:
    'Comfortaa',
    Century Gothic,
    CenturyGothic,
    AppleGothic,
    sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $purple-dark;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  user-select: none;
  font-size: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

.visually-hidden {
  @include visually-hidden;
}

.page {
  display: flex;
  flex-flow: column nowrap;
  min-width: 100%;
  min-height: 100%;
  width: 100vw;
  height: auto;
  overflow-y: auto;
  position: relative;
  z-index: 1;

  main {
    min-height: calc((38.25rem * 2) + 33.0625rem);

    @include desktop {
      min-height: calc((38.25rem * 2) + 10rem);
      height: max-content;
    }
  }
}

.page-footer {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  width: 100%;
}

.screen {
  display: flex;
  flex-flow: column nowrap;
  min-width: 100%;
  min-height: 100%;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
      at center bottom,
      rgba($purple-dark, 0.85),
      rgba($black, 0.95)
    ),
    linear-gradient(to top, rgba($purple, 0.75), rgba($purple-dark, 0.75));
  background-size: 400% 400%;
  pointer-events: none;
  user-select: none;
  z-index: 0;

  .top,
  .bottom,
  .center {
    position: absolute;
  }

  .top,
  .bottom {
    width: 100%;
  }

  .top {
    top: 0;
    transform: rotate(180deg);
  }

  .center {
    top: 50%;
    right: 0;
    width: 75%;
    height: 75%;
    transform: translateY(-50%);
  }

  .bottom {
    bottom: 0;
  }

  .stars {
    background-image: url('/images/stars-large.png');
    background-size: $large-stars-size;

    @include no-reduced-motion {
      animation: stars-large $large-stars-timing linear infinite;
    }

    &,
    &:before,
    &::after {
      position: absolute;
      inset: 0;
      background-position: 0;
    }

    &:before,
    &:after {
      content: '';
    }

    &:before {
      background-image: url('/images/stars-small.png');
      background-size: $small-stars-size;

      @include no-reduced-motion {
        animation: stars-small $small-stars-timing linear infinite;
      }
    }

    &:after {
      background-image: url('/images/stars-medium.png');
      background-size: $medium-stars-size;

      @include no-reduced-motion {
        animation: stars-medium $medium-stars-timing linear infinite;
      }
    }
  }
}

.button {
  @include rounded-corners;

  padding: 0.5rem 1rem;
  background: $scarlet;
  color: $pink-light;
  text-decoration: none;
  text-transform: uppercase;

  &:hover,
  &:focus-visible {
    background: $pink-light;
    color: $scarlet;
  }
}

.language-select {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 2;
}

#languageSelectLabel {
  &:hover,
  &:focus-visible {
    .language-select-icon {
      color: $scarlet;

      @include no-reduced-motion {
        transition: color 0.5s;
      }
    }
  }
}

.language-select-icon {
  width: 3rem;
  height: 3rem;
}

.language-select-list {
  @include rounded-corners;

  position: absolute;
  bottom: 4rem;
  right: 1rem;
  display: flex;
  width: 10rem;
  flex-flow: column nowrap;
  align-items: center;
  background: $pink-light;
  overflow: hidden;

  @include desktop {
    width: 20rem;
  }
}

.language-select-option {
  cursor: pointer;
  pointer-events: all;
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  color: $scarlet;
  text-align: center;
  text-transform: capitalize;
  user-select: none;

  &:hover,
  &:focus-visible,
  &.active {
    background: $scarlet;
    color: $pink-light;
  }
}

@keyframes stars-large {
  from {
    background-position: 0 $large-stars-size;
  }

  to {
    background-position: $large-stars-size 0;
  }
}

@keyframes stars-medium {
  from {
    background-position: 0 $medium-stars-size;
  }

  to {
    background-position: 0 0;
  }
}

@keyframes stars-small {
  from {
    background-position: 0 $small-stars-size;
  }

  to {
    background-position: -#{$small-stars-size} 0;
  }
}
