* {
  font-family:
    'Comfortaa',
    Century Gothic,
    CenturyGothic,
    AppleGothic,
    sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $purple-dark;
}

.page {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100%;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  position: relative;
  z-index: 1;

}

.screen {
  display: flex;
  flex-direction: column nowrap;
  min-width: 100%;
  min-height: 100%;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}


.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(at center bottom,
      rgba($purple-dark, 0.85),
      rgba($black, 0.95)),
    linear-gradient(to top, rgba($purple, 0.75), rgba($purple-dark, 0.75));
  background-size: 400% 400%;
  pointer-events: none;
  user-select: none;
  z-index: 0;

  .top,
  .bottom,
  .center {
    position: absolute;
  }

  .top,
  .bottom {
    width: 100%;
  }

  .top {
    top: 0;
    transform: rotate(180deg);
  }

  .center {
    top: 50%;
    right: 0;
    width: 75%;
    height: 75%;
    transform: translateY(-50%);
  }

  .bottom {
    bottom: 0;
  }

  .stars {
    background-image: url('/images/stars-large.png');
    background-size: 400px;

    @media (prefers-reduced-motion: no-preference) {
      animation: stars-large 40s linear infinite;
    }

    &,
    &:before,
    &::after {
      position: absolute;
      inset: 0;
      background-position: 0;
    }

    &:before,
    &:after {
      content: '';
    }

    &:before {
      background-image: url('/images/stars-small.png');
      background-size: 200px;

      @media (prefers-reduced-motion: no-preference) {
        animation: stars-small 20s linear infinite;
      }
    }

    &:after {
      background-image: url('/images/stars-medium.png');
      background-size: 300px;

      @media (prefers-reduced-motion: no-preference) {
        animation: stars-medium 30s linear infinite;
      }
    }
  }
}

.button {
  border-radius: 5px;
  padding: 0.5rem 1rem;
  background: $scarlet;
  color: $pink-light;
  text-decoration: none;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background: $pink-light;
    color: $scarlet;
  }
}

@keyframes stars-large {
  from {
    background-position: 0 400px;
  }

  to {
    background-position: 400px 0;
  }
}

@keyframes stars-medium {
  from {
    background-position: 0 300px;
  }

  to {
    background-position: 0 0;
  }
}

@keyframes stars-small {
  from {
    background-position: 0 200px;
  }

  to {
    background-position: -200px 0;
  }
}