.index-heading {
  display: block;
  margin: 0 auto;
  padding: 6.25vw 0;
  color: $scarlet;

  @include desktop {
    padding: 4rem 0;
  }

  &#pageHeading {
    position: relative;
    font-size: 6.25vw;
    font-weight: 700;

    @include desktop {
      padding: 4rem 0;
      font-size: 4rem;
    }
  }

  &#menuHeading {
    font-size: 2rem;
    font-weight: 500;

    @include desktop {
      font-size: 3.25rem;
    }
  }
}

#pageHeadingStar {
  position: absolute;
  right: 0;
  top: 7.41vw;
  width: 1.95vw;
  height: 1.95vw;
  color: $pink-light;

  @include desktop {
    top: 4.75rem;
    width: 1.25rem;
    height: 1.25rem;
  }

  @media (prefers-reduced-motion: no-preference) {
    animation: rotate-stars 1s;
  }
}

.index-section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 0 6.25vw;
  margin-bottom: 5rem;

  &#indexHero {
    margin-bottom: 20vh;
    color: $pink-light;
    font-weight: 500;
    line-height: 2;

    @include desktop {
      flex-flow: row nowrap;
      align-items: start;
      padding: 0 13.75vw;
      font-size: 1.25rem;
    }
  }

  &#indexMenu {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 85vh;

    @include desktop {
      padding: 0 13.75vw;
      font-size: 1.25rem;
    }
  }
}

.index-hero-text {
  text-align: center;

  @include desktop {
    width: 100%;
    padding: 0 1.25rem;
  }
}

.index-hero-img {
  display: flex;
  flex-flow: row nowrap;
}

.index-hero-cupcake-left,
.index-hero-cupcake-right {
  width: 250px;
  height: 250px;
  margin-inline: -4rem;

  @include desktop {
    width: 75%;
    height: 75%;
    margin-top: -4rem;
  }
}

.index-hero-cupcake-left {
  opacity: 0.75;

  @media (prefers-reduced-motion: no-preference) {
    animation: float-cupcake-left 3s ease-in-out infinite;
  }
}

.index-hero-cupcake-right {
  transform: rotate(-30deg);

  @media (prefers-reduced-motion: no-preference) {
    animation: float-cupcake-right 3s ease-in-out infinite;
  }
}

.index-menu-content {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;

  @include desktop {
    flex-flow: row nowrap;
    align-items: start;
  }
}

.index-menu {
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 50%;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
}

.index-menu-item {
  display: flex;
  flex-flow: column nowrap;
  flex: 0 1 calc(33.33% - 1rem);
  justify-content: center;
  align-items: center;

  h3 {
    width: 100%;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    color: $pink-light;
    order: 1;
    white-space: pre-wrap;
    word-break: keep-all;
  }
}

.index-menu-cupcake {
  width: 100px;
  height: 100px;
}

.index-menu-kitchen {
  flex: 1 1 50%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;

  p {
    padding: 0 2rem;
    font-size: 2rem;
    text-align: center;
    color: $pink-light;
    font-style: italic;
  }

  .button {
    display: block;
    min-width: 15rem;
    width: min-content;
    text-align: center;
    white-space: pre-wrap;
    word-break: keep-all;
  }
}

@keyframes rotate-stars {
  0% {
    transform: rotate(0deg) scale(0);
  }

  50% {
    transform: rotate(180deg) scale(3);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes reflow-rotate-stars {
  0% {
    transform: rotate(0deg) scale(0);
  }

  50% {
    transform: rotate(180deg) scale(3);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes float-cupcake-left {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-0.5rem);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes float-cupcake-right {
  0% {
    transform: translateY(0) rotate(-30deg);
  }

  50% {
    transform: translateY(-0.5rem) rotate(-27deg);
  }

  100% {
    transform: translateY(0) rotate(-30deg);
  }
}
