#pageHeading {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 6.25vw 0;
  color: $scarlet;
  font-size: 6.25vw;
  font-weight: 900;

  @include desktop {
    padding: 4rem 0;
    font-size: 4rem;
  }
}

#pageHeadingStar {
  position: absolute;
  right: 0;
  top: 7.41vw;
  width: 1.95vw;
  height: 1.95vw;
  color: $pink-light;

  @include desktop {
    top: 4.75rem;
    width: 1.25rem;
    height: 1.25rem;
  }

  @media (prefers-reduced-motion: no-preference) {
    animation: rotate-stars 1s;
  }
}

.index-hero {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 0 6.25vw;
  color: $pink-light;
  font-weight: 500;
  line-height: 2;

  @include desktop {
    flex-flow: row nowrap;
    align-items: start;
    padding: 0 13.75vw;
    font-size: 1.25rem;
  }
}

.index-hero-text {
  text-align: center;

  @include desktop {
    padding: 0 1.25rem;
  }
}

.index-hero-img {
  display: flex;
  flex-flow: row nowrap;
}

.index-hero-cupcake-left,
.index-hero-cupcake-right {
  width: 250px;
  height: 250px;
}

.index-hero-cupcake-left {
  margin-right: -2rem;
  opacity: 0.75;
}

.index-hero-cupcake-right {
  margin-left: -6rem;
  transform: rotate(-30deg);
}

@keyframes rotate-stars {
  0% {
    transform: rotate(0deg) scale(0);
  }

  50% {
    transform: rotate(180deg) scale(3);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}