.index-heading {
  display: block;
  margin: 0 auto;
  padding: 6.25vw 0;
  color: $scarlet;

  @include desktop {
    padding: 4rem 0;
  }

  &#pageHeading {
    position: relative;
    font-size: 6.25vw;
    font-weight: 700;

    @include desktop {
      padding: 4rem 0;
      font-size: 4rem;
    }
  }
}

.index-heading-small {
  font-size: 2rem;
  font-weight: 500;

  @include desktop {
    font-size: 3.25rem;
  }
}

#pageHeadingStar {
  position: absolute;
  right: 0;
  top: 7.41vw;
  width: 1.95vw;
  height: 1.95vw;
  color: $pink-light;

  @include desktop {
    top: 4.75rem;
    width: 1.25rem;
    height: 1.25rem;
  }

  @media (prefers-reduced-motion: no-preference) {
    animation: rotate-stars 1s;
  }
}

.index-section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 0 6.25vw;
  margin-bottom: 5rem;

  @include desktop {
    padding: 0 13.75vw;
    font-size: 1.25rem;
  }

  &#indexHero {
    margin-bottom: 20vh;
    color: $pink-light;
    font-weight: 500;
    line-height: 2;

    @include desktop {
      flex-flow: row nowrap;
      align-items: start;
    }
  }

  &#indexMenu {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 85vh;
  }

  &#indexContact {
    height: 85vh;
  }
}

.index-hero-text {
  text-align: center;

  @include desktop {
    width: 100%;
    padding: 0 1.25rem;
  }
}

.index-hero-img {
  display: flex;
  flex-flow: row nowrap;
}

.index-hero-cupcake,
.index-hero-cupcake {
  width: 250px;
  height: 250px;
  margin-inline: -4rem;

  @include desktop {
    width: 75%;
    height: 75%;
    margin-top: -4rem;
  }

  &:first-child {
    opacity: 0.75;

    @media (prefers-reduced-motion: no-preference) {
      animation: float-cupcake-left 3s ease-in-out infinite;
    }
  }

  &:last-child {
    transform: rotate(-30deg);

    @media (prefers-reduced-motion: no-preference) {
      animation: float-cupcake-right 3s ease-in-out infinite;
    }
  }
}

.index-menu-content {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;

  @include desktop {
    flex-flow: row nowrap;
    align-items: start;
  }
}

.index-menu {
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 50%;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
}

.index-menu-item {
  display: flex;
  flex-flow: column nowrap;
  flex: 0 1 calc(33.33% - 1rem);
  justify-content: center;
  align-items: center;

  h3 {
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    color: $pink-light;
    order: 1;
    white-space: pre-wrap;
    word-break: keep-all;
  }
}

.index-menu-cupcake {
  width: 100px;
  height: 100px;
}

.index-menu-kitchen {
  flex: 1 1 50%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;

  p {
    padding: 0 2rem;
    font-size: 2rem;
    text-align: center;
    color: $pink-light;
    font-style: italic;
  }

  .button {
    display: block;
    min-width: 15rem;
    width: min-content;
    text-align: center;
    white-space: pre-wrap;
    word-break: keep-all;
  }
}

.index-contact-content {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  color: $pink-light;

  @include desktop {
    flex-flow: row nowrap;
    align-items: start;
  }
}

.index-contact-form,
.index-contact-form-success {
  flex: 1 1 50%;
  display: flex;
  flex-flow: column nowrap;
  gap: 1.75rem;
  margin-bottom: 3rem;

  @include desktop {
    flex: 0 0 33%;
  }

  p {
    padding: 0;
    margin: 0;
    line-height: 2;
  }

  .button {
    align-self: center;
  }
}

.index-contact-form-loading {
  cursor: wait;
  opacity: 0.5;

  .index-contact-form-field {
    pointer-events: none;
  }

  .button {
    cursor: inherit;
  }
}

.index-contact-form-field {
  position: relative;
  text-align: center;

  @include desktop {
    text-align: left;
  }

  .index-contact-form-field-textarea,
  .index-contact-form-field-text-input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid $pink-light;
    border-radius: 5px;
    background: $pink-light;
    color: $scarlet;
    font-size: 1rem;
    line-height: 1.5;
    transition: border-color 0.25s;

    &:focus ~ .index-contact-form-field-floating-label {
      top: -1.25rem;
      left: 0.5rem;
      font-size: 0.75rem;

      @media (prefers-reduced-motion: no-preference) {
        transition:
          top 0.25s,
          font-size 0.25s;
      }
    }

    &:not(:placeholder-shown) ~ .index-contact-form-field-floating-label {
      @include visually-hidden;
    }
  }

  .index-contact-form-field-textarea {
    height: 5rem;
  }

  .index-contact-form-field-checkbox {
    margin: 0 0.5rem 0 0;
  }
}

.index-contact-form-field-floating-label {
  position: absolute;
  top: 0.75rem;
  left: 0.5rem;
  color: $scarlet;
}

.index-contact-text {
  flex: 1 1 50%;
  line-height: 2;
  text-align: center;

  @include desktop {
    padding: 0 4rem;
    font-size: 1.25rem;
    text-align: left;
  }
}

.index-contact-highlights-intro {
  margin: 0;
  padding: 0 0 2rem;
}

.index-contact-highlights-item {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin: 0 0 2rem 2rem;

  @include desktop {
    margin: 0 0 2rem 0;
  }

  &:before {
    content: '';
    position: absolute;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100%;
    background: $scarlet;
    opacity: 0.5;
    z-index: -1;
  }

  svg {
    width: 3rem;
    height: 3rem;
    margin-left: 1.75rem;
  }
}

@keyframes rotate-stars {
  0% {
    transform: rotate(0deg) scale(0);
  }

  50% {
    transform: rotate(180deg) scale(3);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes reflow-rotate-stars {
  0% {
    transform: rotate(0deg) scale(0);
  }

  50% {
    transform: rotate(180deg) scale(3);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes float-cupcake-left {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-0.5rem);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes float-cupcake-right {
  0% {
    transform: translateY(0) rotate(-30deg);
  }

  50% {
    transform: translateY(-0.5rem) rotate(-27deg);
  }

  100% {
    transform: translateY(0) rotate(-30deg);
  }
}
