.icing,
.icing-shadow {
  stroke: $scarlet;
  stroke-miterlimit: 100;
}

.icing {
  fill: $white;
}

.icing-shadow {
  mix-blend-mode: multiply;
  opacity: 0.3;
  fill: $purple-dark;
}

.icing-chocolate {
  fill: $chocolate;
}

.icing-vanilla,
.icing-cream_cheese,
.icing-buttercream {
  fill: $white;
}

.icing-strawberry,
.icing-red {
  fill: $red;
}

.icing-raspberry {
  fill: $cherry;
}

.icing-red_velvet {
  fill: $red-velvet;
}

.icing-lemon,
.icing-yellow {
  fill: $yellow;
}

.icing-orange,
.icing-carrot {
  fill: $orange;
}

.icing-rum {
  fill: $chocolate-light;
}

.icing-teal {
  fill: $teal;
}

.icing-blue {
  fill: $blue;
}

.icing-green {
  fill: $green;
}

.icing-purple {
  fill: $purple-light;
}

.icing-pink {
  fill: $pink;
}

.icing-black {
  fill: $black;
}
