.sprinkle {
    fill: $purple;
    stroke: $scarlet;
    stroke-miterlimit: 100;
}

.sprinkle-vanilla,
.sprinkle-white,
.sprinkle-cream_cheese,
.sprinkle-buttercream,
.sprinkle-rainbow:nth-child(1),
.sprinkle-rainbow:nth-child(14) {
    fill: $white;
}

.sprinkle-strawberry,
.sprinkle-red,
.sprinkle-rainbow:nth-child(2),
.sprinkle-rainbow:nth-child(15) {
    fill: $red;
}

.sprinkle-blue,
.sprinkle-rainbow:nth-child(3),
.sprinkle-rainbow:nth-child(16) {
    fill: $blue;
}

.sprinkle-lemon,
.sprinkle-yellow,
.sprinkle-rainbow:nth-child(4),
.sprinkle-rainbow:nth-child(17) {
    fill: $yellow;
}

.sprinkle-orange,
.sprinkle-carrot,
.sprinkle-rainbow:nth-child(5),
.sprinkle-rainbow:nth-child(18) {
    fill: $orange;
}

.sprinkle-green,
.sprinkle-rainbow:nth-child(6),
.sprinkle-rainbow:nth-child(19) {
    fill: $green;
}

.sprinkle-purple,
.sprinkle-rainbow:nth-child(7),
.sprinkle-rainbow:nth-child(20) {
    fill: $purple-light;
}

.sprinkle-teal,
.sprinkle-rainbow:nth-child(8),
.sprinkle-rainbow:nth-child(21) {
    fill: $teal;
}

.sprinkle-raspberry,
.sprinkle-rainbow:nth-child(9),
.sprinkle-rainbow:nth-child(22) {
    fill: $cherry;
}

.sprinkle-pink,
.sprinkle-rainbow:nth-child(10),
.sprinkle-rainbow:nth-child(23) {
    fill: $pink;
}

.sprinkle-chocolate,
.sprinkle-rainbow:nth-child(11),
.sprinkle-rainbow:nth-child(24) {
    fill: $chocolate;
}

.sprinkle-red_velvet,
.sprinkle-rainbow:nth-child(12),
.sprinkle-rainbow:nth-child(25) {
    fill: $red-velvet;
}

.sprinkle-rum,
.sprinkle-rainbow:nth-child(13),
.sprinkle-rainbow:nth-child(26) {
    fill: $chocolate-light;
}

.sprinkle-black {
    fill: $black;
}